.header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f8ebe5; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #5a3a3a; 
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  margin-right: 2rem;
}

.nav-link a {
  text-decoration: none;
  color: #333; 
  font-size: 1rem;
  transition: color 0.3s, font-size 0.3s;
}

.nav-link a:hover {
  color: #685252; 
  text-decoration: underline;
  text-underline-offset: 8px;
  font-size: 1.1rem;
}

@media screen and (max-width: 600px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4rem; 
    left: 0;
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 100%;
  }

  .nav-links.open {
    display: flex;
  }

  .menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: block; 
  }
}